/***************
*トップページ
****************/
body{
    background-color: #FFF;
}
.title{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #00ffff;
}
.title h1 span{
    font-size: 0.7em;
}
.title p{
    display: inline;
    font-size: 14px;
    padding: 1px 10px;
    color: #FFF;
    border-radius: 20px;
    border: 1px solid currentColor;
}
.start-btn,.back-btn{
    padding: 0 60px;
    margin-top: 60px;
}
#style{
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    background-color: #dff;
    font-weight:bold;
    width: 50px;
    height: 50px;
}

.form{
    width: 300px;
    height: 50px;
    }


.ver1{
  background-color: green;
  color: orange;
}

/***************
*クイズページ
****************/
.right{
    line-height: 40px;
}
.question{
    padding: 10px 20px;
    min-height: 240px;
    /*background-color: #000;*/
}
.question p{
    font-size: 24px;
    color: #FFF;
}
.choices{

}
.choices .choice{
    width: 90%;
    margin: 40px auto 0 auto;
}

/***************
*結果ページ
****************/
.result{
    min-height: 370px;
}
.result-title{
    text-align: center;
}
.detail{
    text-align: center;
    font-size: 18px;
    color: #FFF;
}
.score{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.score span{
    color: red;
    font-size: 60px;
}

/* -----------------------
/* ここをテーマによって変更する
--------------------------*/

/* 初期に表示されるテーマ */
.bgThemeDefault {
  background-color: #000 !important;
}

/* それぞれのボタンを押したときに表示されるテーマ */
.bgTheme1 {
  background-color: #f00 !important;
}

.bgTheme2 {
  background-color: #00F !important;
}

.bgTheme3 {
  background-color: #0F0 !important;
}

.bgTheme4 {
  background-color: #FFF !important;
}
